body {
    background: url(../images/hogwarts-castle-bg.jpg) no-repeat top left / cover;
    margin: 0;
    min-width: 850px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: wheat;
}

img {
    border-radius: 20px;
}

nav {
    margin-right: 80px;
}

h3 {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 40px;
    margin-bottom: 0;
}

h4 {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
}

.header {
    background: linear-gradient(180deg, #17153B, #433d96) ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 25px;
    gap: 50px;
}

.menu li a {
    display: block;
    padding: 10px;
    margin-left: 10px;
    opacity: 0.75;
    position: relative;
}

.menu li a:hover {
    color: white;
    opacity: 1;
}

.menu li a::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #C8ACD6;
    transition: all .5s;
}

.menu li a:hover::before {
    width: 100%;
}

.image-and-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subtitle {
    margin: 20px;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 50px;
    border: 1px solid;
    border-radius: 50px;
    padding-left: 20px;
}

.text-paragraph {
    font-size: 35px;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 300;
    text-align: justify;
    margin: 20px;
    padding: 15px;
    word-spacing: 10px;
    line-height: 40px;
}

.odd-section {
    background-color: #C8ACD6;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 35px;
    margin: 20px 0;
}

.even-section  {
    background-color: #45398b;
    color: wheat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-right: 35px;
    margin: 20px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3795BD;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quote > p {
    text-align: center;
    font-size: 30px;
}

.quote > .text-quote {
    font-weight: bold;
}

.grouped-content-image-left {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
}

.grouped-content-image-right {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
}

.grouped-content-image-right > .facts-paragraph {
    text-align: right;
}

.grouped-content-image-left > .pictures-facts, .grouped-content-image-right > .pictures-facts {
    width: 200px;
    height: 100%;
}

.grouped-content-image-left > .facts-paragraph, .grouped-content-image-right > .facts-paragraph {
    font-size: 23px;
}

.grouped-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.grouped-content > .text-paragraph {
    grid-row: span 2;
}

.left-picture {
    float: left;
}

.right-picture {
    float: right;
}

.pictures-facts {
    width: 350px;
}

.line-one, .line-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 38px;
}

.cover > img {
    width: 150px;
    height: 220px;
}

.friends-frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 100px;
}

.friends-frame > .first-one {
    margin-top: 20px;
}

.friends-frame > .last-one {
    margin-bottom: 20px;
}

.friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C8ACD6;
    color: black;
    border-radius: 50px;
}

.friend > img {
    width: 500px;
    height: 210px;
}

.content-hp > p {
    text-align: center;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    background-color: #2E236C;
    color: white;
}

.harry-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.social-medias-images {
    width: 50px;
    height: 50px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 4px solid rgb(126, 119, 119);
    background:linear-gradient(360deg,#231757, #622eaf) ;
    margin: 0;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 20px;
    color: wheat;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #a476e9;
}

.footer a:active {
    color: whitesmoke;
    font-weight: bolder;
}

#dursley-family, #hagrid, #hogwarts-castle, #sorting-hat {
    padding: 15px;
    border-radius: 40px;
}

#albus-severus, #harry-duel {
    width: 150px;
    padding: 10px;
    padding-right: 0;
}

#hogwarts-logo {
    width: 160px;
    height: 160px;
}

#harry-picture-one, #harry-picture-two {
    width: 300px;
    height: 320px;
    margin: 10px;
    margin-top: 35px;
    padding: 50px;
    border-radius: 50%;
}

#harry-picture-one {
    padding-left: 0;
}

#harry-picture-two {
    padding-right: 0;
}

#hogwarts-battle {
    width: 540px;
}

#dumbledore-picture-one {
    margin-top: 40px;
    width: 350px;
}